* {
    box-sizing: border-box;
}

/* Fix bug - height issue in FireFox - too small if a div is empty */
div[contenteditable='true'] {
    min-height: 2em;
}

a.menu, a.main-menu {
    text-decoration: none;
    color: #155074;
}

a.menu:hover {
    text-decoration: underline;
    cursor: pointer;
}

a.main-menu {
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;

    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
}

a.main-menu:hover {
    text-decoration: none;
    background-color: #c5eaff;
}

a.someLogo {
    margin: 15px;
    color: transparent;
}

ul.squareUl {
    list-style-type: square;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 5px;
}

li.squareLi {
    margin-left: 2px;
}

pre {
    white-space: pre-wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    border-left: solid #c9bfdd 3px;
}

body {
    max-width: 1000px;
    min-width: 1000px;
    margin: 10px auto auto;
}

p {
    margin: 0px;
}

img.inner {
    border: solid #000000 1px;
}

img.preview {
    border: dashed #000000 1px;
}

img.preview:hover {
    border: solid #3444ff 1px;
}

.sectionRow:hover {
    background-color: #c5eaff;
}

.bg {
    /*border-radius: 10px;*/
    background-color: #ececec;
    margin: 2px;
    padding: 10px;
    border: solid 1px;
}

.path {
    padding-top: 3px;
    padding-bottom: 3px;
}

.header {
    padding-top: 3px;
    padding-bottom: 3px;
}

.richTextEditor, .examTextOutput, .searchTextOutput, .fileDropMode {
    padding: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 2px;

    /*font-family:monospace;*/
}

.fileDropMode {
    border: 1px dashed #000000;
    background-color: #bafdff;
    outline: 0;
}

.plainHtmlEditor {
    background-color: rgba(255, 151, 6, 0.13);
}

/*Menu element*/
.ui-menu .ui-menu-item {
    padding: 2px;
    font-weight: normal;
    font-size: medium;

}

/*Menu all*/
.ui-menu {
    border-color: rgba(0, 0, 0, 0.72);
    padding: 2px;
    width: 200px;
    background: #dddddd;
}

/*Menu element on hover*/
.ui-menu-item .ui-state-focus {
    font-weight: normal;
}

.ui-widget-content .ui-state-focus {
    font-weight: normal;
    border-color: #c5eaff;
    color: #000000;
    background-color: #c5eaff;
}

/*Divider*/
.ui-widget-content .ui-menu-divider {
    margin-top: 1px;
    margin-bottom: 1px;
}

.ui-widget-header {
    background: #979797;
}

.ticketNameSpan {
    margin-bottom: 5px;
}

.form-element {
    margin-top: 5px;
}

form {
    margin-bottom: 0px;
}

hr {
    margin-top: 3px;
    margin-bottom: 4px;
}

input[type="text"], input[type="password"] {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

input[type="radio"] {
    border: 1px solid black;
    color: green;
    content: "\2713";
}

button {
    border: solid 1px;

    padding-top: 2px;
    padding-bottom: 2px;

    /*
    margin-top: 5px;
    padding-top: 2px;*/
}

button:hover:enabled {
    background-color: #c5eaff;
}

button:hover:disabled {

}

button:active {
    background-color: #bfa8ff;
}

.table {
    border: solid 1px #df00df;
    border-collapse: collapse;
}

.base_table, .base_td, .base_th {
    border: 1px solid black;
}

.base_td, .base_th {
    padding: 5px;
}

.base_tr:hover {
    background-color: #e7f8ff;
}

.base_td {
    vertical-align: baseline;
    padding-top: 2px;
    padding-bottom: 2px;
}

.base_table {
    border-collapse: collapse;
    background-color: #ffffff;
}

div.msg_error {
    background-color: #ffa39c;
    margin-top: 5px;
    padding: 5px;
    display: none;
}

.highlight {
    background-color: #d7ffb0
}

.fieldsBG, .fieldsBGInverse {
    background-color: #ddffe5;
    border: 1px solid #000000;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 5px;

    padding-bottom: 2px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

.fieldsBGInverse {
    background-color: #ffc4ed;
}

.fieldsBGInverse:hover {
    background-color: #d3759c;
}

.fieldSelection {
    margin-top: 5px;
    background-color: #fff7d1;
    border: solid #000000 1px;
    padding-bottom: 5px;
}

.selectedField {
    margin-top: 5px;
    margin-left: 5px;
    background-color: #ff8b3f;
}

.iw-contextMenu {
    border: 1px solid #000000;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.4);
}

.iw-cm-menu li {
    border-bottom: 1px solid #000000;
}

.iw-mSelected {
    background-color: #c5eaff;
    color: #000000;
}

/*jQuery Ui - Customization*/
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px;

    border: 1px solid #000000;
    background: #ececec;
}

.ui-button .ui-button-text {
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #000000;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0px;
    margin-left: 10px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .1em 1em;
    position: relative;
}

.ui-widget {
    font-size: 1.0em;
}

.ui-widget-content {
    border: 1px solid #000000;
    background: #ececec;
}

.inlineImgButton {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}
