a {
    text-decoration: none;
    color: #32404f;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sectionRow:hover {
    background-color: #c5eaff;
}

.bg {
    /*border-radius: 10px;*/
    background-color: #dbdedb;
    margin: 2px;
    padding: 10px;
    border: solid 1px;
}

.path {
    padding-top: 3px;
    padding-bottom: 3px;
}

.header {
    padding-top: 3px;
    padding-bottom: 3px;
}

.richTextEditor, .examTextOutput{
    padding: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 2px;
}

/*Menu element*/
.ui-menu .ui-menu-item {
    padding: 2px;
    font-weight: normal;
    font-size: medium;

}

/*Menu all*/
.ui-menu {
    border-color: rgba(0, 0, 0, 0.72);
    padding: 2px;
    width: 200px;
    background: #dddddd;
}

/*Menu element on hover*/
.ui-menu-item .ui-state-focus {
    font-weight: normal;
}

.ui-widget-content .ui-state-focus {
    font-weight: normal;
    border-color: #c5eaff;
    color: #000000;
    background-color: #c5eaff;
}

/*Divider*/
.ui-widget-content .ui-menu-divider {
    margin-top: 1px;
    margin-bottom: 1px;
}

.ui-widget-header {
    background: #979797;
}

.ticketNameSpan {
    margin-bottom: 5px;
}

.form-element {
    margin-top: 3px;
}

form {
    margin-bottom: 0px;
}

hr {
    margin-top: 3px;
    margin-bottom: 4px;
}

button {
    border: solid 1px;
    /*
    margin-top: 5px;
    padding-top: 2px;*/
}

button:hover {
    background-color: #c5eaff;
}

button:active {
    background-color: #bfa8ff;
}

.table {
    border: solid 1px #df00df;
    border-collapse: collapse;
}

.base_table, .base_td, .base_th {
    border: 1px solid black;
}

.base_td, .base_th {
    padding: 5px;
}

.base_tr:hover {
    background-color: #e7f8ff;
}

.base_td {
    vertical-align: baseline;
    padding-top: 2px;
    padding-bottom: 2px;
}

.base_table {
    border-collapse: collapse;
    background-color: #ffffff;
}

.main-menu {
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    height: 40px;
}

.main-menu:hover {
    text-decoration: none;
    background-color: #c5eaff;
}

.login_error {
    background-color: #ffa39c;
    margin-top: 5px;
    padding: 5px;
    display: none;
}

input[type="text"], input[type="password"] {
    border: 1px solid black;
    padding: 3px;
}