*.class
*.jar
*.war
*.ear
IBClient/gradle/wrapper/gradle-wrapper.properties
IBClient/gradlew
IBClient/gradlew.bat
IBServer/.idea/artifacts/v1_local.xml
IBServer/.idea/artifacts/v1_local.xml
IBServer/.idea/artifacts/v1_local.xml
IBServer/.idea/artifacts/v1_standalone.xml
IBServer/.idea/artifacts/v1_public.xml
IBServer/src/main/java/config/common_local.properties
IBServer/src/main/java/config/common_public.properties
IBServer/src/main/java/config/database_local.properties
IBServer/src/main/java/config/database_public.properties
IBServer/src/main/java/config/database_standalone.properties
IBServer/src/main/webapp/res/css/bootstrap-theme.css
IBServer/src/main/webapp/res/css/bootstrap-theme.css.map
IBServer/src/main/webapp/res/css/bootstrap.css
IBServer/src/main/webapp/res/css/bootstrap.css.map
IBServer/src/main/webapp/res/fonts/glyphicons-halflings-regular.eot
IBServer/src/main/webapp/res/fonts/glyphicons-halflings-regular.svg
IBServer/src/main/webapp/res/fonts/glyphicons-halflings-regular.ttf
IBServer/src/main/webapp/res/fonts/glyphicons-halflings-regular.woff
IBServer/src/main/webapp/res/fonts/glyphicons-halflings-regular.woff2
IBServer/src/main/webapp/res/js/bootstrap.js
IBServer/src/main/webapp/res/js/npm.js