.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/dataSources*
.idea/libraries
src/main/java/database.properties
src/main/java/org/ironbrain/trash.txt
target
src/main/webapp/res/css/jquery-ui*
src/main/webapp/res/js/jquery*
